extends layout
block content
  link(href="/stylesheets/bootstrap.min.css",rel="styleSheet")
  link(href="/stylesheets/kStyle.css",rel="styleSheet")
  script(src="javascripts/jquery-1.11.2.js")
  script(src="javascripts/highstock.js")
  script(src="javascripts/kCharts.js")

  #container
    #kLine
      .col-md-9
        #kChart
      #stcSort.col-md-3
        h3
          strong
            span 涨幅排行
              a.pull-right(href="#") 更多>>
        table.table.table-hover.table-condensed
          thead
            tr.info
              td 名称
              td 最高价
              td 涨踮幅
          tbody
            tr
              td BB
              td BB
              td BB
            tr
              td BB
              td BB
              td BB
            tr
              td BB
              td BB
              td BB