doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.container
    .header.text-center
        h1 my NodeJS Site
    block content
    .footer
        p Running with Node，Express, Jade
